<!-- <p *ngFor="let task of tasks; let i=index; let isOdd = odd; let isFirst = first">
  <span *ngIf="isOdd" [ngClass]="{'pinkaf': isFirst, 'blueaf': startsWithT(task)}">{{i}}:{{task}}</span>
  <span *ngIf="i%2===0" [ngClass]="{'pinkaf': isFirst, 'blueaf': startsWithT(task)}"><strong>
      {{i}}:{{task}}
    </strong></span>
</p> -->

<p *ngFor="let task of tasks; let i=index; let isOdd = odd; let isFirst = first">
  <app-task (taskClick)="onTaskClicked($event)" [name]="task + 'kutya'"
    [ngClass]=" {'boldaf': isOdd, 'pinkaf' : isFirst, 'blueaf' : startsWithT(task)}">
  </app-task>
</p>